[Unit]
Description=Kubernetes AddOns
ConditionPathExists=!/etc/sysconfig/kubernetes-addons
After=kube-apiserver.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "until /usr/bin/curl -s http://127.0.0.1:8080; do echo \"waiting for API server...\"; sleep 5; done"
ExecStartPre=/bin/kubectl apply -f https://git.io/weave-kube
ExecStartPre=/bin/kubectl create ns monitoring
ExecStart=/bin/kubectl create -f https://raw.githubusercontent.com/cncf/demo/master/ClusterStart.yaml
ExecStartPost=/usr/bin/touch /etc/sysconfig/kubernetes-addons
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
