[Unit]
Description=Weave Network
ConditionPathExists=!/etc/sysconfig/kubernetes-masters
Documentation=http://docs.weave.works/weave/latest_release/
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/weave
EnvironmentFile=/etc/sysconfig/kubernetes-minions
ExecStartPre=/bin/bash -c "until /usr/bin/getent hosts minions.${CLUSTER_NAME}.k8s; do echo \"waiting for peers...\"; sleep 5; done"
ExecStartPre=/bin/bash -c "until /usr/bin/curl -s http://masters.${CLUSTER_NAME}.k8s:8080; do echo \"waiting for masters...\"; sleep 5; done"
ExecStartPre=/bin/bash -c "until /usr/local/bin/weavewrap; do echo \"waiting for weave...\"; /usr/local/bin/weave stop-router; sleep 5; done"
ExecStart=/usr/bin/docker attach weave
ExecStartPost=/usr/local/bin/weave expose
ExecStop=/usr/local/bin/weave stop-router
Restart=on-failure
TimeoutSec=666

[Install]
WantedBy=multi-user.target
