[Unit]
Description=Kubernetes Master Bootstrap
Documentation=https://github.com/cncf/demo/

ConditionPathExists=!/etc/kubernetes/admin.conf
ConditionPathExists=/etc/network-environment
ConditionPathExists=/etc/kubernetes-masters

After=cloud-final.service
After=setup-network-environment.service
After=docker.service
Requires=docker.service
Requires=setup-network-environment.service

[Service]

Environment="KUBECONFIG=/etc/kubernetes/admin.conf"
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/kubernetes-masters

ExecStartPre=/usr/bin/kubeadm version
ExecStartPre=/bin/bash -c "echo token: ${TOKEN} | tee -a /etc/kubernetes/kubeadm.conf"
ExecStartPre=/bin/bash -c "echo kubernetesVersion: ${kubernetesVersion} | tee -a /etc/kubernetes/kubeadm.conf"
ExecStartPre=/usr/bin/kubeadm init --config=/etc/kubernetes/kubeadm.conf
ExecStartPre=/bin/bash -c "until kubectl get nodes; do echo \"waiting for API server...\"; sleep 5; done"
ExecStartPre=/bin/bash -c "kubectl apply -f https://git.io/weave-kube-1.6; sleep 5;"

ExecStart=/bin/bash -c "curl -s \"https://discovery.cncfdemo.io/$(kubeadm token list | grep 'bootstrap token' | awk {'print $1'})?ip=${DEFAULT_IPV4}\""

StandardOutput=journal
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=default.target

