[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionPathExists=!/etc/sysconfig/kubernetes-masters
ConditionPathExists=/etc/sysconfig/kubernetes-minions
#After=weave.service
#After=weaveproxy.service
#Wants=weave.service
#Wants=weaveproxy.service
#Requires=weaveproxy.service

[Service]
EnvironmentFile=/etc/kubernetes/config
EnvironmentFile=/etc/kubernetes/proxy
EnvironmentFile=/etc/sysconfig/kubernetes-minions
ExecStartPre=/bin/bash -c "until /usr/bin/curl -s http://masters.${CLUSTER_NAME}.k8s:8080; do echo \"waiting for master...\"; sleep 5; done"
ExecStart=/bin/kube-proxy \
            --master=http://masters.${CLUSTER_NAME}.k8s:8080  \
            $KUBELET_HOSTNAME \
            $KUBE_CLUSTER_CIDR_RANGE \
            $KUBE_LOGTOSTDERR \
            --v=6 \
            $KUBE_PROXY_ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
