apiVersion: v1
kind: Service
metadata:
  labels:
    name: countly
  name: countly
spec:
  selector:
    app: countly
  type: NodePort
  ports:
  - name: countly
    protocol: TCP
    port: 80
    nodePort: 32080
  type: LoadBalancer

----
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: countly
spec:
  replicas: 1
  selector:
    matchLabels:
      app: countly
  template:
    metadata:
      name: countly
      labels:
        app: countly
    spec:
      containers:
      - name: countly
        image: countly/countly-server:16.06
        ports:
        - name: countly
          containerPort: 80
