---
- hosts: all
  become: yes

  roles:
   - { role: docker, tags: docker }
   - { role: etcd, tags: etcd }
   - { role: cni, tags: cni }
   - { role: kubernetes, tags: kubernetes }

  # TODO: yum versionlock dependencies
